<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller='NarrowItDownController as Ctrl'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="Ctrl.searchText">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="Ctrl.NarrowDownButton(Ctrl.searchText)">Narrow It Down For Me!</button>
    </div>


    <h1 ng-if="Ctrl.nothingFound === true"> Nothing found</h1>
    <!-- found-items should be implemented as a component -->
    <found-items ng-if="Ctrl.nothingFound === false" found-items="Ctrl.found" on-remove="Ctrl.removeItem(index)"></found-items>
    <br>

    <!-- <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="item in Ctrl.found">
        <td>{{item.name}}</td>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td><button>Remove</button></td>
      </tr>
    </table> -->


  </div>

</body>
</html>
